<!doctype html>
<html>
	<head>
    <title>GiantBomb List -> Details Example</title>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	</head>
<body>
  <div ng-app="GiantBombList">
    <script type="text/ng-template" id="list.html">
      <div ng-show="!loadingDetails">
        <form class="form-horizontal">
            <input type="text" ng-model="search.$"  size="30" placeholder="search here" />
        </form>
        <hr>
        <table class="table table-striped table-hover">
          <tr ng-repeat="game in collection.games | filter:search" ng-click="showDetails(game.id)">
            <td>{{game.title}}</td>
            <td>{{game.platform}}</td>
          </tr>
        </table>
      </div>
      <div ng-show="loadingDetails">
        <div class="well well-large well-transparent lead">
          <i class="icon-spinner icon-spin  pull-left"></i> Loading details...
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="details.html">
      <h3>Detail for {{game.name}}</h3>
      <div ng-bind-html="game.description"></div>
    </script>
  	<h2>GiantBomb Coll</h2>
      <div ng-controller="ApiKeyCtrl">
      	<form class="form-horizontal">
      		<input type="text" ng-model="apikey" size="50" placeholder="Enter api_key here" />
      		<button class="btn" ng-click="storeApiKey()"><i class="icon-ok"></i> Store API Key</button>
      	</form>	
      </div>
      <div>
        <ng-view></ng-view>
      </div>
      <div><a href="http://www.giantbomb.com" target="blank" title="Powered by GiantBomb"><img src="img/logo-gb.png" alt="Powered by GiantBomb"/></a></div>
      <gb></gb>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script>
  <script src="https://raw.github.com/ckatzorke/angular-giantbomb/master/angular-giantbomb.js"></script>
  <script src="js/list.js"></script>
</html>